/*INDEX CSS */


* {
    text-decoration: none;
}

body {
    background-image: url("./images/what-the-hex.png");
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}

header {
    background: white;
    width: 100%;
    height: 55px;
    margin: 0 auto;
    border-bottom: 1px black solid;
}

#my-name {
    color: white;
    background-color: #4aaaa5; 
    width: 25%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    float: left;
    margin-left: 12.75%;
    padding-top: 5px;
    padding-bottom: 0px;
    border-radius: 2px;
}

/* Responsive Nav Update 13 Jun 18 */
.head-space {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}


/* End of Nav Update */

nav li {
    display: inline-block;
    width: 100px;
    font-size: 15px;
    text-align: right;
    position: relative;
    top: 20px;
    left: 265px;
    margin: auto;
}

nav li a:hover {
    border: 1px solid #4aaaa5;
    padding: 5px;
    border-radius: 4px;
}

nav li a {
    color: #777777;
}

#index-body {
    background: white;
    max-width: 960px;
    margin: 10px auto;
    border: 1px black solid;
    height: 580px;
    border-radius: 10px;
}

#about-me {
    color: #4aaaa5;
    background-color: white;
    font-weight: bold;
    font-size: 1.56em;
    position: block;
    border-bottom: 2px #4aaaa5 solid;
    margin: 20px;
}

#index-pic {
    width: 250px;
    margin-left: 15px;
    height: 275px;
    float: left;
    margin-top: 20px;
}

#index-bio {
    margin-left: 275px;
    margin-right: 18px;
    padding: 5px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#text-left {
    padding: 10px;
}

footer {
        margin-top: 2%;
        padding-top: 30px;
        padding-bottom: 4px;
        text-align: center;
        border-top: 8px #4aaaa5 solid;
        color: white;
        background: gray;
        font-size: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
}

/* CONTACT CSS */

#contact-body {
    background: white;
    max-width: 950px;
    margin: 10px auto;
    border: 1px black solid;
    height: 575px;
    border-radius: 10px;
    padding: 10px;

}

#contact {
    color: #4aaaa5;
    background-color: white;
    font-weight: bold;
    font-size: 1.56em;
    position: block;
    border-bottom: 2px #4aaaa5 solid;
    margin: 20px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/*styling suggestion found on w3school.com */

input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit]:hover {
    background-color: gray;
    color: white;
    border-radius: 4px;
}

.caption {
    margin-left: 10px;
}

/* Portfolio.css */

#portfolio-body {
    background: white;
    max-width: 950px;
    margin: 10px auto;
    border: 1px black solid;
    height: 1000px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 200px;
}

#portfolio-caption {
    color: #4aaaa5;
    background-color: white;
    font-weight: bold;
    font-size: 1.56em;
    position: block;
    border-bottom: 2px #4aaaa5 solid;
    margin: 20px;
    margin-bottom: 0;
}

img {
    width: 350px;
    height: 250px;
    box-shadow: #777777;
    border-radius: 4px;
}

.col {
    width: 350px;
    height:250px;
    display: inline-block;
    margin: 10px;
    position:relative;
    padding: 25px;
    margin-left: 40px;

}

#cats {
    display: absolute;
    background: #4aaaa5;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.45em;
    border-radius: 4px;
}

#dogs {
    display: absolute;
    background: #4aaaa5;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.45em;
    border-radius: 4px;
}

#travel {
    display: absolute;
    background: #4aaaa5;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.45em;
    border-radius: 4px;
}

#marvel {
    display: absolute;
    background: #4aaaa5;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.45em;
    border-radius: 4px;
}

#pokemon {
    display: absolute;
    background: #4aaaa5;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 1.45em;
    border-radius: 4px;
}

/* media queries */

@media screen and (max-width: 980px){
    header {
        margin-left: 10px;
        margin-right: 10px;
}
@media screen and (max-width: 768px){
    
}
 @media screen and (max-width: 640px){

    #index-pic {

    }

    #index-bio {
        float: left;
    }

 }
}